<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Karma Trading</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%- require_css 'master' -%>
    <%- require_css 'code_highlighter' -%>
    <%- require_js 'code_highlighter' -%>
    <%- require_js 'css' -%>
    <%- require_js 'javascript' -%>
    <%- require_js 'html' -%>
    <%- require_js 'ruby' -%>
    <%= include_required_css :bundle => 'karma' %>
    <%= include_required_js :bundle => 'karma' %>
    <link type="application/atom+xml" title="ATOM" rel="alternate" href="<%= url(:feed) %>"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo" class="wrap-to-center">
          <img src="/images/logo.png" />
        </div>
      </div>
      <div id="content" class="wrap-to-center clearfix">
        <div id="sidebar">
          <div id="menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><%= link_to "Feed", url(:feed) %></li>
            </ul>
          </div>
        </div>
        <div id="main-content"><%= catch_content :for_layout %></div>
      </div>
      <div id="footer">
        <div class="wrap-to-center">
          &copy; Steve Tooke, <%= Time.now.year %>
        </div>
      </div>
    </div>
  </body>
</html>